body {
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dogGrid{
  display: grid; 
  justify-content: center; 
  grid-template-areas: 
    ". t ."
    ". p ."
    ". i ."
    ". b .";
  
}

.button{
  grid-area: b;
}

.image{
  grid-area: i;
  position: relative;

}

.title{
  grid-area: t;
}

.paragraph{
  grid-area: p;
}